---
layout: default
---
<style>
	#AboutMe {
	background: none;
	border: none;
	}
	#AoutMe:hover{
		background-color: blue;
	}
#AboutSite {
	background: none;
	border: none;
	}
	#AoutMe:hover{
		background-color: blue;
	}
</style>
<div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}
              <nav>     
	<ul>
		<button id="AboutMe">
			<a href="/about/me.html">About Me</a>
		</button>
		<button id="AboutSite">
			<a href="/about/site.html"About Site</a>
                    </ul>
	</li>
		
	  </nav>

      {{ content }}
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
v
